* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button, input {
    font-family: inherit;
    font-size: inherit;
}
button {
    cursor: pointer;
}
input:active, input:focus, button:active, button:focus {
    outline: none;
}
ul, li {
    list-style-type: none;
}